.custom{
  margin-left: 1200px;
}







.header{
    width: 100%;
    height: 600px;
    display: flex;
    border: 1px solid black;
   
}
.head1{
    width: 400px;
    height: 600px;
    border: 1px solid;
}
.head2{
  width: 600px;
  height: 600px;
  margin-left: 500px;
}